<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049960489224-pcs6c7mbr79grki2710323hmbaj1db3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049960489224-pcs6c7mbr79grki2710323hmbaj1db3c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1049960489224-ed4nllk51h2jtkat89cm3v09aq6ukuds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDt-HghVKpzIRpR0QQay0eSrLE5khrPLc</string>
	<key>GCM_SENDER_ID</key>
	<string>1049960489224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.bemyrider</string>
	<key>PROJECT_ID</key>
	<string>bemyrider</string>
	<key>STORAGE_BUCKET</key>
	<string>bemyrider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049960489224:ios:ec0f812f23471810278cbd</string>
</dict>
</plist>